{% extends 'base.html' %}

{% block title %}Lista de Alunos{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Alunos Cadastrados</h2>
  <a href="{% url 'aluno-create' %}" class="btn btn-success">+ Novo Aluno</a>
</div>

<table class="table table-hover table-bordered bg-white shadow-sm">
  <thead class="table-secondary">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Curso</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for aluno in object_list %}
      <tr>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.email }}</td>
        <td>{{ aluno.curso.nome }}</td>
        <td>
          <a href="{% url 'aluno-update' aluno.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
          <a href="{% url 'aluno-delete' aluno.pk %}" class="btn btn-sm btn-outline-danger">Deletar</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="text-center">Nenhum aluno cadastrado.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
